{% extends "nx_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Donates" %}{% endblock %}
{% block title %}{% trans "Donates" %}{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
       {% for donate in donates %}
        <div class="panel panel-default">
           <div class="panel-body">
               <div class="title">
                   <h2 class="address">{{ donate.address }}</h2>
                   <span class="like glyphicon glyphicon-heart">
                   </span>
                   <span class="animation-number">+1</span>
               </div>
               <div class="describe">
                   <div class="content">
                       {{ donate.description }}
                   </div>
                   <img src="/static/media/{{donate.photo}}" width=100% alt=""/>
               </div>
           </div>
        </div>
       {% endfor %}
    </div>
    </div>
</div>

{% endblock %}