{% extends "nx_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Donates" %}{% endblock %}
{% block title %}{% trans "Donates" %}{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <form class="search-needs-form" method="post" action=".">
            {% csrf_token %}
            <select class="selectpicker" name="search_name">
                <option value="contact_person">联系人</option>
                <option value="contact_person_telephone">联系人电话</option>
                <option value="contact_address">地区</option>
            </select>

            <div class="search-part">
                <input class="search-needs-input" type="text" name="search_value">
                <button class="search-needs-btn btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <div class="col-sm-12">
            <div class="container">
                {% for need in needs %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="need">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">Address:{{ need.address }}</li>
                                <li class="list-group-item list-group-item-info">Contact: {{ need.contact_person}},{{need.contact_person_telephone }}
                                </li>
                                <li class="list-group-item list-group-item-warning">Description: {{ need.description}}
                                </li>
                                <li style="list-style-type: none">
                                    <img src="/static/media/{{need.image}}" width=100% alt=""/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}