{% extends "nx_base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Donates" %}{% endblock %}
{% block title %}{% trans "Donates" %}{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <h1>{{ need.phone_number }}</h1>

                <p>
                    {{ need.description }}
                    <br/>
                    <img src="{{need.get_image_url}}" width=100% alt=""/>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}