{% load pages_tags mezzanine_tags i18n future staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static "mezzanine/js/jquery-1.7.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/notes.css" %}">

{% load i18n %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <header>
            <h1>Thumb Charity</h1>
        </header>
        <div class="col-sm-12">
            <div class="container">
                {% for need in needs %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="need">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">Address:{{ need.address }}</li>
                                <li class="list-group-item list-group-item-info">Contact: {{ need.contact_person}},{{need.contact_person_telephone }}
                                </li>
                                <li class="list-group-item list-group-item-warning">Description: {{ need.description}}
                                </li>
                                <li style="list-style-type: none">
                                    <img src="/static/media/{{need.image}}" width=100% alt=""/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}