{% load pages_tags mezzanine_tags i18n future staticfiles %}
<script src="{% static "mezzanine/js/jquery-1.7.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">

{% load i18n %}

{% block main %}
<div class="container">
    <form type="get" action=".">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>

    {% for note in notes %}
    <h1>{{ note.address }}</h1>

    <p>
        {{ note.description }}
        <br/>
        <img src="/{{note.photo}}" height=512 width=512 alt=""/>
    </p>
    {% endfor %}
</div>
{% endblock %}