{% load pages_tags mezzanine_tags i18n future staticfiles %}
<script src="{% static "mezzanine/js/jquery-1.7.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/notes.css" %}">

{% load i18n %}

{% block main %}
<div class="container">
    <form class="search-form" type="get" action=".">
        <div class="row">
            <input class="form-control search-input col-lg-8" type="text" name="q">
            <button class='btn btn-primary col-lg-2 search-button' type="submit">Search</button>
        </div>
    </form>

    {% for note in notes %}
    <h2 class="address">{{ note.address }}</h2>

    <div class="describe">
        <div class="content">
            {{ note.description }}
        </div>
        <img src="/static/media/{{note.photo}}" height=512 width=512 alt=""/>
    </div>
    {% endfor %}
</div>
{% endblock %}