{% extends "nx_base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Donates" %}{% endblock %}
{% block title %}{% trans "Donates" %}{% endblock %}

{% block main %}
<div class="container">
    <div class="span12">
        {% errors_for form %}
        <form method="post" enctype="multipart/form-data">
            <fieldset>{% fields_for form %}</fieldset>
            <div class="actions">
                <input class="btn btn-warning btn-large" type="submit" value="创建">
            </div>
        </form>
    </div>
</div>
{% endblock %}