{% load pages_tags mezzanine_tags i18n future staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/notes.css" %}">

{% load i18n %}

{% block main %}
<div class="container">
    <div class="span12">
        {% errors_for form %}
        <form method="post" enctype="multipart/form-data">
            <fieldset>{% fields_for form %}</fieldset>
            <div class="actions">
                <input class="btn btn-warning btn-large" type="submit" value="创建">
            </div>
        </form>
    </div>
</div>
{% endblock %}